<!DOCTYPE html>
<<<<<<< HEAD
<html>
<head>
  <title>SoundFx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
=======
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag "application" %> 
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//connect.soundcloud.com/sdk.js" %>
    <%= render "layouts/top_nav" %>
    <%= render 'layouts/messages' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
>>>>>>> d6e4864157f4e06b206409147fa69fc9166e9abd
